* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a5d5e;
    text-align: center;
}

h1 {
    height: 15vmin;
    font-size: 9vmin;
}

.container {
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: rgb(182, 52, 52);
    background-color: rgb(211, 170, 98);
}

#reset-btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.917);
    color: white;
    border-radius: 0.7rem;
    border: none;
    cursor: pointer;
}

#new-btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.917);
    color: white;
    border-radius: 0.7rem;
    border: none;
}

#msg {
    color: blanchedalmond;
    font-size: 5vmin;
}

/* .msg-container {
    height:  40vmin;
} */

.hide {
    display: none;
}